<div class="modal" [ngClass]="{'modal-open': isOpen}">
    <div class="modal-box">
      <h3 class="font-bold text-lg">Delete article</h3>

      <div class="hero bg-base-200 my-6">
        <div class="hero-content flex-col lg:flex-row my-3">
          <img
            [src]="article.thumbnail"
            class="max-w-sm rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-2xl font-bold">{{ article.title | uppercase }}</h1>
            <p class="py-6">{{ article.description }}</p>
          </div>
        </div>
      </div>
      
      <div class="modal-action">
        <button (click)="deleteArticle()" class="btn btn-secondary hover:bg-fuchsia-600">Delete</button>
        <button class="btn" type="button" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>