<div class="card bg-base-100 shadow-xl">
  <figure><img [src]="article.thumbnail" [alt]="article.title" /></figure>
  <div class="card-body">
    <h2 class="card-title">{{ article.title }}</h2>
    <p>{{ article.description }}</p>
    <div class="card-actions justify-end">
      <button (click)="openEditArticle()" class="btn btn-outline btn-warning btn-sm mt-3">Edit</button>
      <button (click)="openDeleteArticle()" class="btn btn-outline btn-error btn-sm mt-3">Delete</button>
      @if(displayShow) {
        <button (click)="showOneArticle()" class="btn btn-outline btn-secondary btn-sm mt-3">Read more</button>
      }
    </div>
  </div>
</div>