

<div class="flex items-center justify-center min-h-screen">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <h3 class="text-center text-gray-600">Login to this system.</h3>
        <h1 class="text-center font-bold text-3xl my-2 mb-8">Bright Coding</h1>

        <div class="text-center my-4">

          <span class="badge badge-info gap-5 mx-2">
            <span class="font-bold">username:</span> {{ userName }}
          </span>

          <span class="badge badge-error gap-5 mx-2">
            <span class="font-bold">password:</span> {{ pass }}
          </span>

          <button type="button" class="btn btn-xs btn-outline btn-neutral mx-3" (click)="copy()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
            </svg>
            
          </button>
          
        </div>

          <p class="text-red-500 text-sm mb-4">{{ errorMessage$ | async }}</p>

          <label class="input input-bordered flex items-center my-5 gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
            </svg>
            <input formControlName="username" type="text" class="grow" placeholder="Username" />
            @if(username?.invalid && (username?.dirty || username?.touched)) {
                <div class="mx-3">

                  @if(username?.errors?.['required']) {
                    <span class="label label-text-alt text-red-500">Username is required !</span>
                  }

                </div>
              }
          </label>
          <label class="input input-bordered flex items-center my-5 gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70">
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd" />
            </svg>
            <input formControlName="password" type="password" class="grow" value="password" placeholder="******"/>
            @if(password?.invalid && (password?.dirty || password?.touched)) {
                <div class="mx-3">

                  @if(password?.errors?.['required']) {
                    <span class="label label-text-alt text-red-500">Password is required !</span>
                  }

                  @if(password?.errors?.['minlength']) {
                    <span class="label label-text-alt text-red-500">Password must more than 6 caracters !</span>
                  }

                  @if(password?.errors?.['pattern'])  {
                    <span class="label label-text-alt text-red-500">Password must be valid !</span>
                  }

                </div>
              }
          </label>

          <button class="w-full btn btn-outline btn-primary">Login</button>
    </form>
</div>